@font-face {
  font-family: Bokalo;
  src: url(./fonts/Baloo2-Regular.ttf);
}

@font-face {
  font-family: BokaloBold;
  src: url(./fonts/Baloo2-SemiBold.ttf);
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  border: 0px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(129, 129, 129);
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:active {
  background-color: rgb(155, 155, 155);
}

.CodeMirror {
  height: 100%;
  width: 100%;
  font-family: BokaloBold;
}

body {
  margin: 0px;
  background-color: rgb(49, 49, 49);
  color: rgb(230, 230, 230);
  font-family: BokaloBOld;
}

.code-area {
  width: 100%;
  height: 100%;
  background-color: rgb(49, 49, 49);
  color: white;
  font-family: BokaloBold;
  padding: 10px;
  font-size: 18px;
  outline: none;
  border: 0px;
  resize: none;
}

.btn {
  border: 0px;
  padding: 5px 12px;
  border-radius: 0px;
  background-color: rgb(21, 141, 21);
  color: white;
  cursor: pointer;
  font-family: BokaloBold;
  font-size: 14px;
  outline: none;
  box-shadow: -2px 2px 0 2px rgb(8, 70, 8);
  transition: 0.3s;
}

.btn:active {
  transition: 0s;
  box-shadow: 0px 0px 0 0px rgb(8, 70, 8);
  transform: translate(-2px, 2px);
}

.top-bar .btn {
  margin-right: 10px;
}

.top-bar {
  background-color: rgb(24, 24, 24);
  width: 100%;
  height: 60px;
  box-shadow: 0px 2px 2px 1px black;
  z-index: 2;
  position: relative;
}

.top-bar .logo {
  display: inline-block;
  font-size: 30px;
  height: 60px;
  line-height: 60px;
  padding-left: 20px;
}

.top-bar .btn-holder {
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
}

.main-container {
  z-index: 1;
  display: flex;
  width: 100%;
  height: calc(100vh - 60px);
}

.console-wrap {
  height: 100%;
  max-width: 400px;
  width: 100%;
  background-color: rgb(37, 37, 37);
  display: flex;
  flex-direction: column;
}

.console-wrap .head {
  font-size: 20px;
  padding: 10px;
  border-left: 1px solid rgb(122, 122, 122);
  height: 50px;
}

.console-wrap .consoles-container {
  height: calc(100% - 50px);
  width: 100%;
  display: flex;
  flex-direction: column;
}

.console-wrap .console {
  height: 100%;
  width: 100%;
  border: 1px solid rgb(122, 122, 122);
  border-right: 0px;
  border-top: 0px;
  overflow: auto;
  padding: 5px 10px;
  font-size: 14px;
}

.left-wrap {
  height: 100%;
  width: 100%;
}

.left-wrap .tabs {
  height: 30px;
  width: 100%;
  background-color: rgb(22, 22, 22);
  display: flex;
}

.left-wrap .tabs .tab {
  line-height: 30px;
  padding: 0px 10px;
  color: white;
  font-size: 14px;
  cursor: pointer;
  transition: 0.3s;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.left-wrap .tabs .tab:hover {
  background-color: rgb(87, 87, 87);
}

.tile-manager {
  height: calc(100% - 30px);
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.tile-manager .tile {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: auto;
}

.tile-manager.two .tile {
  width: 50%;
}

.tile-manager.three .tile {
  width: 50%;
  height: 50%;
}

.tile-manager .tile .x {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 30px;
  cursor: pointer;
  z-index: 4;
}

.code-wrap {
  height: 100%;
  width: 100%;
}

.registers {
  display: flex;
  flex-wrap: wrap;
  padding: 0px 10px;
}

.registers .reg {
  background-color: black;
  color: white;
  padding: 5px 8px;
  border-radius: 10px;
  margin: 0px 5px 5px 0px;
}

.stack .value {
  background-color: black;
  color: white;
  padding: 5px 8px;
  border-radius: 10px;
  margin-bottom: 5px;
  max-width: 200px;
  width: 100%;
}

.tile[tab=mcu],
.tile[tab=options],
.tile[tab=actions] {
  padding: 10px;
}

.leds {
  display: flex;
  width: 100%;
}

.leds .led {
  width: 20px;
  height: 20px;
  background-color: rgb(139, 0, 0);
  margin: 5px;
  border-radius: 50%;
  transition: 0.1s;
}

.leds .led.active {
  background-color: rgb(207, 0, 0);
  box-shadow: 0 0 5px 4px rgb(207, 0, 0);
}